

.blog-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.blog-card {
  background-color: #8aff8a;
  border: 2px solid #000;
  border-radius: 10px;
  width: 300px;
  height: 400px; 
  padding: 20px;
  margin: 20px;
  text-align: center;
  color: #000;
  box-shadow: 5px 5px 20px rgb(163, 243, 5); /* Increased box shadow */
}

.card1 {
  background-color: white;
  color: black;
}


