.ScrollViewer {
  width: 100%;
  overflow: hidden;
}

.Client {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; 

  
  height: 200px;
}

.ClientItem {
  flex: 0 0 auto;
  scroll-snap-align: start;
}

.ClientImage {
  max-width: 100%;
  height: auto;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .Client {
    scroll-behavior: smooth; 
    scroll-snap-type: none; 
  }
}


.ScrollButtons {
  display: flex;
  justify-content: space-between;
  
}

.ScrollButtons button {
  background: none;
  cursor: pointer;
  font-size: 5; 
}
